pipeline/Max Unit Price - Sales Order.json
{
	"name": "Max Unit Price - Sales Order",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Max Unit Price",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM SalesLT.SalesOrderDetail WHERE UnitPrice < @{activity('Max Unit Price').output.firstRow.maxUnitPrice}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_CSV",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "maxUnitPrice",
							"folderName": "SalesOrder"
						}
					}
				]
			},
			{
				"name": "Max Unit Price",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(UnitPrice) AS maxUnitPrice FROM SalesLT.SalesOrderDetail;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "Sales"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-10-20T11:08:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}